//dashboard elements
.ecommerce-logos {
  display: block;
  justify-content: center;
  text-align: center;

  .home-message {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
  }

  .store-logos {
    display: flex;
    justify-content: center;
  }
  img {
    margin: 10vh 5vw 0vh;
    border-radius: 50px;
  }

  .amazon-logo {
    max-width: 25vw;
    max-height: 30vh;
  }

  .virgin-logo {
    max-width: 25vw;
    max-height: 30vh;
  }

  .axiom-logo {
    max-width: 35vw;
    max-height: 40vh;
    margin-top: 0px;
  }
}
//dashboard elements
.item-data {
  display: flex;
  justify-content: center;
}
.amazon-data {
  max-height: 800px;
  overflow-y: scroll;
  width: 33%;
  margin: 0 5%;
  overflow-x: hidden;

  .amazon-item{
    min-height: 400px;
    overflow-y: visible;
    width: 100%;
  }
  
  p {
    width: 20vw;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: x-large;
  }
}

.virgin-data {
  max-height: 800px;
  overflow-y: scroll;
  width: 33%;
  margin: 0 5%;
  overflow-x: hidden;
  

  .virgin-item{
    min-height: 400px;
    overflow-y: visible;
    width: 100%;
  }

  p {
    width: 20vw;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: x-large;
  }
}

.axiom-data {
  max-height: 800px;
  overflow-y: scroll;
  width: 33%;
  margin: 0 5%;
  overflow-x: hidden;

  .axiom-item{
    min-height: 400px;
    overflow-y: visible;
    width: 100%;
    
  }
  

  p {
    width: 20vw;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: x-large;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  width: 20vw;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: larger;
  color: black;
}

.search-for {
  margin-left: 2vw;
}
::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px; 
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $techblue; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


