//Logo, search bar, blue bar, filter buttons
.home-page {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 4em;
}
.page-logo {
  max-width: 15%;
  display: flex;
}
.htd-logo {
  height: 90%;
  width: 100%;
  padding-top: 0.8%;
}

form {
  margin-left: 300px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
input {
  border-radius: 20px;
  width: 35em;
  height: 3em;

  padding-right: 10%;
  padding-left: 1em;
  border-color: $techblue;
  font-family: "Manrope", sans-serif;
  
}
.search-btn {
  border-radius: 20px;
  width: 15em;
  height: 3.4em;
  border: none;
  margin-left: 20px;
  background-color: $techblue;
  color: white; 
  font-family: "Manrope", sans-serif;
}

.button-features {
  padding: 3vh;
  background-color: $techblue;
  

  button {
    margin-left: 0;
    margin-right: 2vw;
    border-radius: 50px;
    height: 4vh;
    width: 8vw;
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    
    
  }
  
}

//Loading animation
.lds-dual-ring {
  left: 1%;
  top: 8%;
  // width: 210px;
  // height: 210px;
  height:90vh;
  width: 98vw;
  z-index: 100;

  border-radius: 5px;
  position: absolute;
  
  background-color: rgba(244, 240, 240, 0.3);
}
.lds-dual-ring:after {
  position: relative;
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  border-radius: 50%;
  border: 15px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    opacity: 0.9;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0.9;
    transform: rotate(360deg);
  }
}

